@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

.wrapper {
  width: 920px;
  height: 481px;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  box-shadow: 0px 32px 43px 0px #4fa6af33;
}
.input-groups {
  display: flex;
  flex-direction: column;
  width: 379px;
  height: 388px;
}
.input-group {
  margin-right: 10px;
}
.input-group .label-title {
  width: 100%;
  color: #5e7a7d;
  border: none;
  font-family: "Space Mono";
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  text-align: left;
  padding: 10px;
  background-color: #fff;
  &:hover {
    background-color: #fff;
    color: #5e7a7d;
  }
}
.input-group label {
  position: relative;
  display: inline-block;
  width: 117px;
  height: 48px;
  line-height: 40px;
  background-color: #00474b;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  color: #fff;
  &:hover {
    background-color: #9fe8df;
    color: #00474b;
  }
}
.tip-percent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.customTip {
  background-color: #f3f9fa !important;
  color: #547878 !important;
}
.input-group input[type="radio"] {
  display: none;
}

.input-group input[type="radio"] + label span {
  display: inline-block;
  padding: 5px;
}

.input-group input[type="radio"]:checked + label {
  background-color: #26c2ae;
  color: #00474b;
}

.input-group input[type="radio"]:checked + label span {
  display: inline-block;
}
.icon {
 margin-left: 15px;
}
.icon-input{
  width: 379px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: 2px solid transparent;
  background-color: #f3f9fa;
  &:active {
    border: 2px solid #26c2ae;
  }
  &:hover {
    border: 2px solid #26c2ae;
  }
  &:focus {
    border: 2px solid #26c2ae;
    outline: 2px solid #26c2ae;
    
  }

}
.icon-person {
margin-left: 15px;

}
.input-group input[type="number"] {
  width: 363px;
  height: 48px;
  padding: 6px 17px;
  border-radius: 6px;
position: relative;
border: none;
  
  text-align: right;
  background-color: transparent;
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  color: #00474b;
 
  &:focus {
   
    outline: none;
  }
 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group input[type="number"]::placeholder {
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  text-align: right;
}
.result {
  width: 413px;
  height: 417px;
  background-color: #00474b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  justify-content: flex-start;
  border-radius: 12px;
}
#customTipValue {
  opacity: 0;
  visibility: hidden;
  height: 2px;
}
#totalBill,
#totalBill-title {
  opacity: 0;
  visibility: hidden;
  height: 0.1px;
}
.per-person {
  display: inline-block;
  font-family: "Space Mono";
  font-size: 13px;
  font-weight: 700;
  line-height: 19.25px;
  color: #7f9d9f;
}
.result-hold {
  width: 333px;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.result-holder {
  font-family: "Space Mono";
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

#billPerPerson,
#tipPerPerson {
  display: inline-block;
  font-family: "Space Mono";
  font-size: 48px;
  font-weight: 700;
  line-height: 71.09px;
  letter-spacing: -1px;
  text-align: right;
  color: #26c2ae;
}

button {
  background-color: #26c2ae;
  font-family: "Space Mono";
  font-size: 20px;
  font-weight: 700;
  line-height: 29.62px;
  text-align: center;
  color: #00474b;
  width: 333px;
  height: 48px;
  margin-top: 115px;
  border: none;
  border-radius: 5px;
  height: 100%;
  padding: 9px;
  position: relative;
  bottom: 10px;

  &:hover {
    background-color: #9fe8df;
  }
  &:active {
    background-color: #0d686d;
  }
}
